<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="danmaku_show.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>
	</startup>
	<userSettings>
		<danmaku_show.Properties.Settings>
   <setting name="roomid" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="port" serializeAs="String">
    <value>6099</value>
   </setting>
   <setting name="autoConnectRoom" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="reconnectRoom" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="internalServerPort" serializeAs="String">
    <value>6099</value>
   </setting>
   <setting name="autoStartInternalServer" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="autoRecoveryInternalServer" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="autoConnectServer" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="reconnectServer" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="pushMessageTypes" serializeAs="String">
    <value>DANMAKU,GIFT,SYSTEM,WELCOME</value>
   </setting>
   <setting name="pushDuration" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="restartInternalServerWhileLost" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="restartServerRetryCount" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="reconnectRoomRetryCount" serializeAs="String">
    <value>5</value>
   </setting>
  </danmaku_show.Properties.Settings>
	</userSettings>
</configuration>
